# Gereksiz kütüphane klasörleri
node_modules/
*/node_modules/

# Derlenmiş dosyalar
dist/
build/
.output/

# Çevresel değişkenler ve gizli anahtarlar (Güvenlik için yüklenmez)
.env
.env.local
*.env

# Cloudflare ve Wrangler dosyaları
.wrangler/
.dev.vars

# Sistem dosyaları
.DS_Store
Thumbs.db

# Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*